<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>

    <typeAliases>
        <package name="com.qf.mybatis.pojo"/>
    </typeAliases>

    <!--配置数据库连接信息-->
    <environments default="mysqlEnv">
        <!--具体数据库信息配置-->
        <environment id="mysqlEnv">
            <!--配置事务管理器-->
            <transactionManager type="JDBC"></transactionManager>
            <!--配置数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}" />
                <property name="url"
                          value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>

    <!--编写映射文件-->
    <mappers>
        <!--<mapper resource="com/qf/mybatis/dao/UserDAO.xml"/>-->
        <package name="com.qf.mybatis.dao"/>
    </mappers>

</configuration>